<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MENU</title>
</head>
<body>
<p><a href="/logout">退出登陆</a></p>


<div style="width:300px; float:left;">

    <ul>
        <li><a href="/stu_info" target="right">学生信息</a></li>
        <li><a href="course_selection.html" target="right">网上选课</a></li>
{# TODO 网上选课没实现#}
        <li><a href="/score" target="right">学生成绩</a></li>
        <li><a href="/score" target="right">考试安排</a></li>
        <li><a href="https://www.baidu.com/" target="right">网上评教</a></li>
    </ul>

</div>

<iframe src="stu_info.html" name="right" width="1000" height="1000"></iframe>

{#<a href="/logout">学生学籍</a>#}

</body>
</html>