<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MENU</title>
</head>
<body>



<div style="width:300px; float:left;">
    <ul>
        <li><a href="/id/2001" target="right">学生学籍</a></li>
        <li><a href="course_selection.html" target="right">网上选课</a></li>
        <li><a href="login.html" target="right">学生成绩</a></li>
        <li><a href="https://www.baidu.com/" target="right">网上评教</a></li>
    </ul>

</div>

<iframe src="stu_info.html" name="right" width="1000" height="1000"></iframe>


</body>
</html>