<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script type="text/javascript">
function ClickMenu(diving) {
    //alert(diving);
    if (document.getElementById(diving).style.display == "none") {
        document.getElementById(diving).style.display = 'block';
    }
    else {
        document.getElementById(diving).style.display = 'none';
    }
}
</script>
<div class='banner2'><a onclick=ClickMenu('TreeNode0')>分行管理</a></div>
<div id='TreeNode0' class='bannermid' style='display:none'>

    <div class='banner3'><a href='media.php' target='Right'>宣传片</a></div>
    <div class='banner3'><a href='picture.php' target='Right'>海报</a></div>
</div>

<div class='banner2'><a onclick=ClickMenu('TreeNode0')>分行管理</a></div>
<div id='TreeNode0' class='bannermid' style='display:none'>

    <div class='banner4'><a href='media.php' target='Right'>宣传片1</a></div>
    <div class='banner4'><a href='picture.php' target='Right'>海报1</a></div>
</div>
</body>
</html>